<div class="col">
  <div class="d-print-none">
    <button type="button" class="btn btn-primary" (click)="print()"><i class="fa fa-print"></i></button>
    <button *ngIf="isSpectating" type="button" class="btn btn-primary ml-3" (click)="goToPlayerSelection()">
      Afficher la grille des joueurs
    </button>
  </div>
  <hr class="d-print-none" />
  <div loader [show]="loadingReport" id="poolerPicks" class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3" *ngFor="let poolParticipant of poolParticipants" style="padding-bottom: 25px;">
      <app-pooler-picks [picking]="pickingPoolerGuid === poolParticipant.pooler.poolerGuid"
        [pickingNext]="nextPickingPoolerGuid === poolParticipant.pooler.poolerGuid" [poolParticipant]="poolParticipant" [isReport]="true">
      </app-pooler-picks>
    </div>
  </div>
</div>