<div class="container">
  <div loader [show]="creatingOrAuthenticating" class="card">
    <div class="card-header">
      <ul ngbNav class="nav-pills" [activeId]="action" (navChange)="action = $event.nextId">
        <li ngbNavItem="create"><a ngbNavLink>Créer un nouveau pool</a></li>
        <li ngbNavItem="resume"><a ngbNavLink>Poursuivre la sélection d'un pool</a></li>
        <li *ngIf="isSpectating" ngbNavItem="spectate"><a ngbNavLink>Visionner la sélection d'un pool</a></li>
      </ul>
    </div>
    <div class="card-body" [ngSwitch]="action">
      <div *ngSwitchCase="'create'">
        <app-create-pool (creating)="creatingOrAuthenticating = $event" (created)="createdOrAuthenticated()"></app-create-pool>
      </div>
      <div *ngSwitchCase="'resume'">
        <app-resume-pool (authenticating)="creatingOrAuthenticating = $event" (authenticated)="createdOrAuthenticated()"></app-resume-pool>
      </div>
      <div *ngSwitchCase="'spectate'">
        <app-spectate-pool (authenticating)="creatingOrAuthenticating = $event" (authenticated)="createdOrAuthenticated()"></app-spectate-pool>
      </div>
    </div>
  </div>
</div>