<app-modal title="{{playerName}}" modalClass="player-stats-modal">
    <div modal-open>
        <ng-content></ng-content>
    </div>
    <div modal-header-extra>        
        <a class="btn btn-sm btn-primary mt-1" [href]="playerStatsUrl | safe: 'resourceUrl'" target="_blank">Ouvrir dans une nouvelle fenêtre<i class="ml-2 fa fa-external-link"></i></a>
    </div>
    <div modal-content class="playerStatsFrame">
        <iframe [src]="playerStatsUrl | safe: 'resourceUrl'"></iframe>
    </div>
</app-modal>