<span *ngIf="!isDarkTheme" class="btn btn-l btn-primary" (click)="themeService.setDarkTheme()" tooltip="Thème sombre"
    tooltip-class="no-print">
    <i class="fa fa-moon-o fa-2x"></i>
</span>
<span *ngIf="isDarkTheme" class="btn btn btn-primary" (click)="themeService.setLightTheme()" tooltip="Thème lumineux"
    tooltip-class="no-print">
    <i class="fa fa-sun-o fa-2x"></i>
</span>