<div class="row">
  <div class="col-12">
    <label for="newPoolerName">Ajouter un pooler :</label>
    <div class="input-group inline">
      <input id="newPoolerName" autocomplete="off" class="form-control" [(ngModel)]="newPoolerName" (keyup.enter)="addNewPooler(newPoolerName)">
      <button type="submit" class="btn btn-primary" (click)="addNewPooler(newPoolerName)">+</button>
    </div>
  </div>
</div>