<div loader [show]="gridLoading" class="h-100 mx-3 mb-3">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Position</th>
        <th>Nom</th>
        <th>Équipe</th>
        <th>Points</th>
        <th>Parties jouées</th>
        <th>Points /match</th>
        <th>Buts</th>
        <th>Passes</th>
        <th>Victoires</th>
        <th>Défaites</th>
        <th>Blanchissages</th>
        <th>Défaites en prolongation</th>
        <th>Id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players" [ngClass]="player.picked ? 'picked-player' : ''">
        <td>
          <button *ngIf="!isSpectating && !player.picked" class="btn btn-primary btn-pick" (click)="setGridLoading(true); playerPicked.emit(player)">Repêcher</button>
          <span *ngIf="isSpectating && !player.picked" class="ml-3"><i class="fa fa-check-circle mr-1"></i>Disponible</span>
          <span *ngIf="player.picked" class="ml-3" [tooltip]="'Repêché par ' + player.pickedBy"><i class="fa fa-times-circle mr-1"></i>Repêché</span>
        </td>
        <td>
          <span hidden>{{ player.picked }}</span>
        </td>
        <td>
          <app-player-stats-modal [player]="player">
            <button class="btn btn btn-primary" tooltip="Plus de stats"><i class="fa fa-bar-chart"></i></button>
          </app-player-stats-modal>
        </td>
        <td>{{ player.predictions[0].rank }}</td>
        <td>{{ player.position }}</td>
        <td>
          <app-player-name [player]="player"></app-player-name>
        </td>
        <td>
          <div class="d-flex justify-content-center" placement="top" [tooltip]="player.team + ' (' + player.teamAbbreviation + ')'">
            <img
              class="team-logo"
              [src]="'https://assets.nhle.com/logos/nhl/svg/' + player.teamAbbreviation?.toUpperCase() + '_' + themeService.getCurrentTheme() + '.svg'"
              width="30"
              height="30"
            />
          </div>
          <span hidden>{{ player.team }}</span>
        </td>
        <td>{{ player.predictions[0].points }}</td>
        <td>{{ player.predictions[0].gamesPlayed }}</td>
        <td>{{ player.predictions[0].pointsPerMatch | number:'1.0-2' }}</td>
        <td>{{ player.predictions[0].goals }}</td>
        <td>{{ player.predictions[0].assists }}</td>
        <td>{{ player.predictions[0].victories }}</td>
        <td>{{ player.predictions[0].defeats }}</td>
        <td>{{ player.predictions[0].shutouts }}</td>
        <td>{{ player.predictions[0].overtimeDefeats }}</td>
        <td>{{ player.playerNhlId }}</td>
      </tr>
    </tbody>
  </table>
</div>
